body {
    background-color: white;
    text-align:center;
}

@font-face {
    font-family: 'Welcome'; /* Provide a unique font name */
    src: url('fonts/welcome_font.otf') format('opentype'), /* Replace with the actual file path */
         url('fonts/welcome_font.ttf') format('truetype'); /* Add more file formats if needed */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Welcome', cursive; /* Use the font name or font stack */
    font-size: 140px;
}

p {
    color: white;
    font-family: Shanti;
    font-size:1.2em;
    margin: 20px;
}

img {
    margin: 60px 0 30px 0;
    width: 250px;
}

input {
    width: 300px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: Shanti;
    text-align: center;
    font-size: 1.3em;
}

input:focus {
    border: solid 5px #00FFCE;
    outline: none;
}

#greet {
    background-color: palevioletred;
    color: white;
    width: 200px;
}

#greet:hover {
    background-color: mediumvioletred;
    cursor: pointer;
}