/* Custom CSS for button */
.custom-button {
    background-color: transparent !important; /* Remove the default background color and use !important to ensure your style takes precedence */
    color: gray !important; /* Set text color to gray */
    /* border: 1px solid gray !important;
    transition: color 0.7s; /* Add transition for smooth color change */
    font-size: 40px;
}

/* Hover styles for the custom button */
.custom-button:hover {
    color: black !important; /* Change text color to black on hover */
}

/* Remove the blue focus outline on the button */
.custom-button:focus {
    outline: none !important;
}

/* Remove the blue border when clicked */
.custom-button:active {
    border-color: gray !important;
}
