<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>George and Cordelia's Wedding</title>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">-->
</head>
<body>
    {% include 'navbar.html' %}
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/95/13/6c/coulsdon-manor-exterior.jpg?w=1100&h=-1&s=1">
    <br>
    <header>
        <h1>Welcome to Our Wedding!!!</h1>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>&copy; Your Name & {{ year }}</p>
    </footer>
</body>
</html>