<!DOCTYPE html>
<head>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/corner_logo.png') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>George & Cordelia's Wedding</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="preload" href="../static/images/marmaris.png" as="image">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

      {% block content %}
      {% endblock %}
        <div class="footer">
        <p>site made with <i class="fa fa-heart-o"></i> by the groom</p>
        </div>

    </section>



<!----JavaScript for toggle menu---->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>

</body>
</html>
