<nav>
    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo_gandc.png') }}"></a>
    <div class="nav-links" id="navLinks">
        <i class="fa fa-close" onclick="hideMenu()"></i>
        <ul>
            <li><a href="{{ url_for('index') }}">HOME</a></li>
            <li><a href="{{ url_for('rsvp') }}">RSVP</a></li>
            <li><a href="{{ url_for('details') }}">Details</a></li>
        </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>