{% extends 'base.html' %}
{% block content %}
    <section class="rsvp">

        {% include 'navbar.html' %}
    <div class="signup-box">
        <div class="col-2">
            <h2>RSVP</h2>
            <form action="\rsvp_initial" method="post">
                <label>First Name</label>
                <input type="text" placeholder="Benjamin" id="first_name" name="first_name" class="input-field">

                <label>Last Name</label>
                <input type="text" placeholder="Dover" id="last_name" name="last_name" class="input-field">

                <label>Email</label>
                <input type="email" placeholder="ben.dover@gmail.com" id="email" name="email" class="input-field">

                <div class="row">
                    <input type="checkbox" checked>
                    <span>I agree to the <a href="{{ url_for('terms_and_conditions') }}">terms and conditions</a></span>
                </div>
                <button type="submit">Submit</button>
            </form>


        </div>
    </div>

</div>

               {% endblock %}